/vendor/
 /node_modules/

 /public/storage
 /public/hot
 /public/css
 /public/js
 /mix-manifest.json

 /storage/logs/*
 /storage/framework/cache/*
 /storage/framework/sessions/*
 /storage/framework/views/*

 .env

 /.idea/
 /*.sublime-project
 /*.sublime-workspace

 .DS_Store

 Thumbs.db

 # Adicionar laravel_server.log
 laravel_server.log
